html{
    background-color: rgb(43, 43, 43);
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

.wrapper{
    text-align: left;
    width: 30%;
    float: left;
    position: absolute;
}

.wrapper__img{
    width: 200px;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

.head{
    width: 99%;
    text-align: center;
    border-bottom: 1px solid white;
    margin-top: 45px;
    position: absolute;
}

.wrapper__a{
    display: inline;
    object-fit: cover;
    color: white;
    text-decoration: none;
    font-family: 'PyeongChangPeace-Light';
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

.wrapper__a:hover{
    color: goldenrod;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

.left__menu{
    /* position: absolute; */
    text-align: center;
    width: 20%;
    margin-top: 120px;
    display: inline;
    float: left;
    box-shadow: 1px 1px 20px black;
}

.genre{
    text-align: center;
    width: 100%;
    height: 100%;
}

.genre__text{
    color: white;
    background-color: rgb(92, 92, 92);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.genre__table{
    background-color: rgb(134, 134, 134);
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.genre__tr{
    background-color: white;
    height: 20px;
}

.genre__tr:hover{
    background-color: rgb(175, 191, 205);
}

.genre__title{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: 'S-CoreDream-3Light';
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

.main__middle{
    /* position: absolute; */
    text-align: center;
    margin-top: 100px;
    float: left;
    width: 60%;
}

.middle-div{
    text-align: center;
    position: absolute;
    width: 60%;
}

.main__middle2{
    /* position: absolute; */
    text-align: center;
    margin-top: 450px;
    float: left;
    width: 60%;
    
}

.middle-div2{
    text-align: center;
    position: absolute;
    width: 60%;
}

.main__middle3{
    /* position: absolute; */
    text-align: center;
    margin-top: 450px;
    float: left;
    width: 60%;
}

#line1{
    margin-left: 34.8%;
    margin-top: 525px;
    position: absolute;
    width: 30%;
}

#line2{
    margin-left: 34.8%;
    margin-top: 980px;
    position: absolute;
    width: 30%;
}

.mid--genre{
    font-size: 15px;
    color: rgb(251, 231, 153);
    font-family: 'S-CoreDream-3Light';
}
a{
    text-decoration: none;
}
.middle--ul{
    text-align: center;
    list-style: none;
    display: inline;
}

.middle--list{
    width: 23%;
    list-style: none;
    text-align: left;
    float: left;
    padding-left: 1.6%;
    display: inline;
}

#photo{
    width: 100%;
    box-shadow: 1px 1px 20px black;
}

.photo:hover{
    
    width: 103%;
    margin-left: -3px;
    transition: 0.3s;
}

.title{
    margin-left: 1px;
}
#title{
    color: white;
    font-size: 18px;
}

.nick{
    margin-left: 1px;
}
#nick{
    color: rgb(150, 150, 150);
    font-size: 14px;
}

#last-list{
    margin-top: -6px;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

/* 오른쪽 div */

.user{
    text-align: center;
    width: 19.3%;
    margin-top: 130px;
    margin-left: 79.6%;
    background-color: rgb(134, 134, 134);
    float: left;
    position: absolute;
    box-shadow: 1px 1px 20px black;
}

.login{
    text-align: center;
    width: 100%
}

#id{
    font-size: 20px;
    margin-top: 10px;
    width: 94%;
    outline: none;
}

#pw{
    font-size: 20px;
    width: 94%;
    outline: none;
}

#login{
    height: 30px;
    width: 47%;
}

#signin{
    height: 30px;
    width: 47%;
}

#kakaologin{
    width: 94%;
    height: 40px;
}

.contents{
    margin-top: -20px;
    

}

#contents01{
    width: 19.3%;
    color: white;
    text-align: center;
    background-color: rgb(92, 92, 92);
}

.chatbox{
    width: 98%;
    height: 300px;
    border: none;
    resize: none;
    outline: none;
}


.chating{
    width: 98%;
    height: 37px;
    border: none;
    resize: none;
    outline: none;
}

.chatbutton{
    width: 98%;
    padding: 2px;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}